.lightButton{
    background-color: #f1f6ff;
    width: 10rem;
    padding: 1rem;
    margin-right: 2rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
}
.lightButton:hover{
  background-color: #a5a5a5;
  color:white;
  border:1px solid #7f7f7f
}

@media (max-width: 768px) {
    .lightButton {
      margin-bottom: 0.5rem;
      width: 7rem;
    }
    .activeButton {
      margin-bottom: 0.5rem;
      width: 7rem;
    }
  }
  .activeButton {
    background-color: blue; 
    color: white;
    width: 10rem;
    padding: 1rem;
    margin-right: 2rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
  }
  .activeButton:hover{
    background-color: #4d5fa8;
    border:1px solid #4d5fa8
  }