.card{
    display: flex;
    align-items: center;
    background-color: white;
    padding: 1rem;
    margin: 1rem;
    justify-content: space-between;
}
.header{
    padding:1rem
}
.notSale {
    text-decoration: line-through;
  }
  .exit{
    border:none;
    padding: 0.5rem;
    background-color: red;
    color: white;
    font: 600;
    border-radius: 1rem;
    cursor: pointer;
    margin-right: 0.3rem;
  }
  .titleandButton{
    display: flex;
    align-items: center;
  }