.buttonList{
    display: flex;
    align-items: center;
}
@media (max-width: 768px) {
  .buttonList {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.bookList {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
  }
  
  .bookCard {
    flex: 1 0 18%;
  }
  
  @media (max-width: 768px) {
    .bookCard {
      flex: 1 0 48%;
      width: 100px;
      justify-content: center;
    }
  }
  
  .bookCard:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
  
  .bookImage img {
    width: 150px;
    height: auto; 
  }
  
  .bookInfo {
    padding: 5px;
  }
  
  .bookTitle {
    margin: 0;
    font-size: 0.7em;
    color: #333;
  }
  
  .bookAuthor {
    margin: 10px 0 0;
    font-size: 0.5em; 
    color: #666;
  }
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    z-index: 1000;
  }
  
  .modalBackdrop {
    position: fixed;
    top: 0;
    right: 0;
    color: rgba(183, 0, 0, 0.5);
    z-index: 500;
    font-size: 1.5rem;
    cursor: pointer;
  }
  .label{
    color: red;
    font-size: 0.7rem;
    margin-bottom: 0.3rem;
  }